doctype html
html
    head
        style
            include style.css
    body
        div.wrap
            div.header
                | Social network

            div.box
                block content

            div.footer
                | You can always contact
                a(href='https://www.google.com/') technical support