.wrap {
    margin: 0 auto;
    max-width: 1000px;
}
.header,
.footer {
    background-color: lightpink;
    padding: 10px 5px;
}
.footer a {
    color: black;
    font-weight: 700;
    margin-left: 5px;
}
.box p {
    margin: 10px 0;
    padding: 0 5px;
    text-indent: 5px;
}